<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocks</key>
	<array>
		<dict>
			<key>rect</key>
			<string>{{270, 23}, {45, 45}}</string>
		</dict>
		<dict>
			<key>rect</key>
			<string>{{270, 105}, {45, 45}}</string>
		</dict>
	</array>
	<key>seesawPosition</key>
	<string>{140,65}</string>
	<key>catPosition</key>
	<string>{265,185}</string>
	<key>bedPosition</key>
	<string>{270,15}</string>
</dict>
</plist>
